@let rating = epcRating();
@let hasExpired = expired();
@let points = sapPoints();

@if (rating) {
    <div class="label">
        @switch (rating) {
            @case ('none') {
                <div>No EPC</div>
            }
            @case ('avg') {
                <div>Averaged EPC</div>
            }
            @default {
                @if (hasExpired) {
                    <div class="expired">
                        <mat-icon>warning</mat-icon>
                        <span>Expired EPC: {{ rating }}</span>
                    </div>
                } @else {
                    <span>EPC: {{ rating }}</span>
                }
                @if (points) {
                    <span>{{ points }}</span>
                }
            }
        }
    </div>
} @else {
    <div class="label building">
        <ng-content />
    </div>
}

<!-- SPDX-License-Identifier: Apache-2.0
© Crown Copyright 2026. This work has been developed by the National Digital Twin Programme
and is legally attributed to the UK's Department for Business, Innovation, Science and Trade (BIST) as the governing entity. -->
