node-lib @ git+https://${GITHUB_ACCESS_TOKEN}@github.com/National-Node-Net/node-lib.git@main#egg=node-lib
ianode-label-builder @ git+https://${GITHUB_ACCESS_TOKEN}@github.com/National-Node-Net/label-builder.git@main#egg=ianode-label-builder
